<template>
  <div id="app">
    <b-navbar toggleable="" type="inverse" variant="success">

      <b-nav-toggle target="nav_collapse"></b-nav-toggle>

      <b-link class="navbar-brand" to="#">
        <span>PlumsailTest</span>
      </b-link>

      <b-collapse is-nav="" id="nav_collapse">

        <b-nav is-nav-bar="">
          <b-nav-item to="/">All Contacts</b-nav-item>
          <b-nav-item to="/add">Add Contact</b-nav-item>
        </b-nav>
      </b-collapse>
    </b-navbar>

    <b-card header="Plumsail test application"
            class="mb-2"
            show-footer="">
      <router-view></router-view>
      <small slot="footer" class="text-muted">
        Roman Vashchegin, 2017. All Rights Reserved.
      </small>
    </b-card>    
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>

</style>
