﻿<template>
  <div>
    <b-alert :show="dismissCountDown" state="danger">
      Can't add a contact: {{alertMessage}}
    </b-alert>
    <div class="row text-center form-center">
      <div class="col-md-12">        
        <form @submit.prevent="validateBeforeSubmit" v-if="!formSubmitted">
          <h2>Create new Contact form</h2>
          <div class="form-group" :class="{'has-error': validErrors.has('contact.Name'), 'text-left': true }">
            <label class="control-label" for="contact.Name">Name</label>
            <input v-model="contact.Name" v-validate.initial="contact.Name" data-vv-rules="required|alpha|min:3|max:100" data-vv-as="Name" class="form-control" type="text" placeholder="Contact Name">
            <p class="text-danger" v-if="validErrors.has('contact.Name')">{{ validErrors.first('contact.Name') }}</p>
          </div>
          <div class="form-group" :class="{'has-error': validErrors.has('contact.BirthDay'), 'text-left': true }">
            <label class="control-label" for="contact.BirthDay">Birthday</label>
            <input v-model="contact.BirthDay" v-validate.initial="contact.BirthDay" data-vv-rules="required" class="form-control" data-vv-as="Birth Day" type="date" placeholder="Birth Day">
            <p class="text-danger" v-if="validErrors.has('contact.BirthDay')">{{ validErrors.first('contact.BirthDay') }}</p>
          </div>
          <div class="form-group" :class="{'has-error': validErrors.has('language_id'), 'text-left': true }">
            <input type="hidden" name="language_id" v-model="language_id" v-validate="language_id" v-validate.initial="" data-vv-as="Language" data-vv-rules="required|numeric">
            <label class="control-label" for="contact.NativeLanguage">Native Language</label>
            <b-form-select v-model="contact.NativeLanguage" :options="languageoptions" class="mb-3 form-control"></b-form-select>
            <p class="text-danger" v-if="validErrors.has('language_id')">{{ validErrors.first('language_id') }}</p>
          </div>
          <div class="form-group" :class="{'has-error': validErrors.has('gender_id'), 'text-left': true }">
            <input type="hidden" name="gender_id" v-model="gender_id" v-validate="gender_id" v-validate.initial="" data-vv-as="Gender" data-vv-rules="required|numeric">
            <label class="control-label" for="contact.Gender">Gender</label>
            <b-form-radio v-model="contact.Gender" :options="genderoptions" stacked class="form-control"></b-form-radio>
            <p class="text-danger" v-if="validErrors.has('gender_id')">{{ validErrors.first('gender_id') }}</p>
          </div>
          <div class="form-group" :class="{'has-error': validErrors.has('contact.SoccerFan'), 'text-left': true }">
            <label class="checkbox form-control">
              <input name="contact.SoccerFan" v-model="contact.SoccerFan" v-validate="contact.SoccerFan" data-vv-as="Soccer Fan" data-vv-rules="required" type="checkbox">
              I'm soccer fan
            </label>
            <br/>
            <span class="text-danger" v-show="validErrors.has('contact.SoccerFan')">{{ validErrors.first('contact.SoccerFan') }}</span>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block col-md-4 form-center" type="submit">Submit</button>
          </div>
        </form>
        <div v-else="">
          <h1 class="submitted">Form submitted successfully!</h1>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VeeValidate from 'vee-validate'
import rootConfig from '../config'
const config = {
  errorBagName: 'validErrors',
  fieldsBagName: 'validFields',
  delay: 0,
  locale: 'en',
  dictionary: null,
  strict: true,
  enableAutoClasses: false,
  classNames: {
    touched: 'touched',
    untouched: 'untouched',
    valid: 'valid',
    invalid: 'invalid',
    pristine: 'pristine',
    dirty: 'dirty'
  }
}
Vue.use(VeeValidate, config)
export default {
  name: 'addcontact',
  data () {
    return {
      languageoptions: [
        {
          text: 'Please select your native language',
          value: null
        },
        {
          text: 'English',
          value: 0
        }, {
          text: 'Russian',
          value: 1
        }, {
          text: 'Deutsch',
          value: 2
        }],
      genderoptions: [
        {
          text: 'Male',
          value: 0
        }, {
          text: 'Female',
          value: 1
        }],
      contact: {
        Name: '',
        BirthDay: '',
        NativeLanguage: null,
        Gender: null,
        SoccerFan: false
      },
      postBody: {},
      formSubmitted: false,
      alertMessage: '',
      dismissCountDown: null
    }
  },
  computed: {
    language_id: function () {
      return this.contact.NativeLanguage
    },
    gender_id: function () {
      return this.contact.Gender
    }
  },
  methods: {
    validateBeforeSubmit (e) {
      this.$validator.validateAll()
      if (!this.validErrors.any()) {
        this.postBody = JSON.stringify(this.contact)
        this.submitForm()
      }
    },
    submitForm () {
      var vm = this
      axios.post(rootConfig.API_HOST + '/api/contact/add', this.postBody, {
        headers: {
          'Content-type': 'application/json'
        }
      })
      .then(function (response) {
        if (response.status === 200) {
          vm.formSubmitted = true
        } else {
          vm.alertMessage = response.message
          vm.dismissCountDown = 3
        }
      })
      .catch(function (e) {
        vm.alertMessage = e.message
        vm.dismissCountDown = 3
      })
    }
  }
}
</script>

<style scoped>
body {
  font-family: Helvetica, sans-serif;
}
.container {
  width: 500px;
}
h2 {
  text-align: center
}
img {
  text-align: center
}
.submitted {
  color: #4fc08d;
}
.form-center {
  margin: 0 auto; 
  width: 30%;
}

.text-left {
  text-align: left;
}
</style>
