<template>
  <div>
    <b-alert :show="dismissCountDown" state="danger">
      Can't get list of contacts: {{alertMessage}}
    </b-alert>
    <div class="justify-content-centermy-1 row">
    
      <b-form-fieldset horizontal="" label="Rows per page" class="col-6" :label-size="6">
        <b-form-select :options="[{text:5,value:5},{text:10,value:10},{text:15,value:15}]" v-model="perPage">
        </b-form-select>
      </b-form-fieldset>
    
      <b-form-fieldset horizontal="" label="Filter" class="col-6" :label-size="2">
        <b-form-input v-model="filter" placeholder="Type to Search"></b-form-input>
      </b-form-fieldset>
    </div>
    
    <!-- Main table element -->
    <b-table striped="" hover="" :items="contacts" :fields="columns" :current-page="currentPage" :per-page="perPage" :filter="filter">
      <template slot="Name" scope="item">
        {{item.value}}
      </template>
      <template slot="GenderStr" scope="item">
        {{item.value}}
      </template>
      <template slot="BirthDay" scope="item">
        {{item.value | formatDate}}
      </template>
      <template slot="NativeLanguageStr" scope="item">
        {{item.value }}
      </template>
      <template slot="SoccerFan" scope="item">
        {{(item.value == 0) ? ':(' : ':)'}}
      </template>
    </b-table>
    
    <div class="justify-content-center row my-1">
      <b-pagination size="md" :total-rows="this.contacts.length" :per-page="perPage" v-model="currentPage" />
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import rootConfig from '../config'
var genderToString = require('../filters/genderfilter')
var languageToString = require('../filters/languagefilter')
export default {
  name: 'allcontacts',
  data () {
    return {
      contacts: [],
      errors: [],
      columns: {
        Name: {
          label: 'Contact Name',
          sortable: true
        },
        GenderStr: {
          label: 'Gender',
          sortable: true
        },
        BirthDay: {
          label: 'Birth Day',
          sortable: true
        },
        NativeLanguageStr: {
          label: 'Native Language',
          sortable: true
        },
        SoccerFan: {
          label: 'Is Soccer Fan'
        }
      },
      currentPage: 1,
      perPage: 5,
      filter: null,
      alertMessage: '',
      dismissCountDown: null
    }
  },
  created () {
    var config = {
      headers: {'Access-Control-Allow-Origin': '*'}
    }
    var vm = this
    axios.get(rootConfig.API_HOST + '/api/contact/getall', config)
    .then(function (response) {
      for (var item of response.data) {
        item.GenderStr = genderToString(item.Gender)
        item.NativeLanguageStr = languageToString(item.NativeLanguage)
      }
      vm.contacts = response.data
    })
    .catch(function (e) {
      vm.errors.push(e)
      vm.alertMessage = e.message
      vm.dismissCountDown = 3
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
